body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

* {
  border: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------------------header---------------------------*/

header {
  display: flex;
  align-items: center;
}

.submit {
  text-decoration: none;
  display: block;
  color: #0065fc;
  font-weight: bold;
  align-items: flex-end;
}
nav li {
  list-style: none;
  align-items: center;
}
nav ul {
  text-decoration: none;
  display: flex;
  align-content: center;
  flex-grow: 1;
  flex-basis: 0;
}
