body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}
* {
  list-style: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
img {
  width: 100%;
}
a {
  color: black;
  text-decoration: none;
}

/*----------------------header---------------------------*/

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 5px;
}
.logo {
  width: 50%;
  padding-left: 15px;
}
.logo img {
  width: 50%;
}
.preference {
  width: 100%;
  text-align: center;
}
.preference nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 1;
}
.preference nav ul li {
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
}
.preference nav ul li.selected {
  border-bottom: 1px solid #0065fc;
}

.selected a {
  /*color: #0065fc;
}*/
  color: #0065ff;
}
.submit {
  text-align: end;
  width: 40%;
  padding-right: 15px;
}

.submit a {
  color: #0065fc;
  font-weight: bolder;
}

/*-------------------------------------Main--------------------------------------*/
/*-----------------------------------Recherche------------------------------------------*/
.desc,
.search,
#filtre,
#title,
.list,
#activite {
  width: 90%;
  margin: 0 auto;
}
main h1 {
  font-weight: bold;
  font-size: 22px;
  display: block;
}

form {
}

.buttonSearch {
  display: flex;
  border: 2px solid #f2f2f2;
  justify-content: space-between;
  border-radius: 15px;
}

.fa-map-marker-alt {
  font-size: 17px;
  color: black;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  width: 38px;
  height: 50px;
  align-items: center;
  display: inline-flex;
  padding-left: 20px;
}

#maRecherche {
  background-color: #fff;
  color: white;
  cursor: pointer;
  padding: 10px 10px;
  width: 225px;
  height: 50px;
  border: none;
}

#Loupe {
  width: 50px;
  background-color: #0065fc;
  font-weight: bold;
  font-size: initial;
  color: white;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  padding: 0;
}

#Loupe span {
  display: none;
}

/*--------------------------------filtres-------------------*/

#filtre a {
  display: inline-block;
  border: 4px solid #f2f2f2;
  border-left: none;
  border-radius: 25px;
  padding-right: 25px;
  margin-bottom: 15px;
  margin-right: 15px;
}

#filtre a i {
  width: 40px;
  height: 40px;
  background-color: #deebff;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  color: #0065ff;
  margin-right: 15px;
}

#filtre p i {
  padding-right: 10px;
  color: #0065ff;
}

#title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*------------------------------------Hebergements-----------------------------------------------*/

#hebergement {
  width: 90%;
  margin: auto;
}

.pop {
  background-color: #f2f2f2;
  padding-bottom: 10px;
}

.list article {
  display: flex;
  border-radius: 20px;
  box-shadow: 1px 1px 15px rgb(111 111 111);
  margin-bottom: 20px;
  padding: 0.35em;
  background-color: #fff;
}

.list img {
  width: 120px;
  height: 130px;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.resume {
  padding-left: 20px;
  font-size: 14px;
}

.fa-star {
  color: #f2f2f2;
}

.stared {
  color: #0065fc;
}

/*-------------------Marseille---------------------------------------------*/

.global img {
  object-fit: cover;
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
}

.global article {
  border-radius: 20px;
  box-shadow: 1px 1px 15px rgb(111 111 111);
  background-color: white;
  padding: 5px;
  margin-bottom: 20px;
}
.global article h4 {
  margin: 10px 0 10px 15px;
}

.global article p {
  margin: 10px 0 10px 15px;
}

.global article .star {
  margin: 10px 0 10px 15px;
}

/*-------------------------------Activites--------------------------------------------------*/

#activite article {
  border-radius: 20px;
  box-shadow: 1px 1px 15px #f2f2f2;
  margin-bottom: 20px;
  height: 170px;
}

#activite article img {
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  height: 80%;
}

#activite article h4 {
  display: inline;
  margin-left: 15px;
}

footer {
  width: 90%;
  margin: auto;
}

footer div ul {
  padding-left: 0;
}

@media screen and (min-width: 800px) {
  .buttonSearch {
    max-width: 400px;
  }
  #Loupe {
    width: initial;
    padding: 15px;
  }

  #Loupe span {
    display: inline;
  }

  #Loupe i {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #title,
  .list {
    width: initial;
  }
  header {
    width: 90%;
    margin: auto;
    flex-wrap: nowrap;
    align-items: baseline;
    padding-top: 0;
  }
  .logo {
    width: 65%;
    padding: initial;
  }
  .logo img {
    width: 10%;
  }

  .submit {
    width: 10%;
    order: 2;
  }

  .preference {
    width: 25%;
  }

  .preference nav ul {
    margin-top: 0;
  }
  .preference nav ul li {
    padding-top: 40px;
    border-bottom: none;
  }
  .preference nav ul li.selected {
    border-top: 2px solid #0065fc;
    border-bottom: none;
    cursor: pointer;
  }

  #hebergement {
    display: flex;
    justify-content: space-between;
  }

  .global {
    width: 65%;
    background-color: #f2f2f2;
    padding: 20px 40px;
    border-radius: 25px;
    box-sizing: border-box;
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }

  .global img {
    height: 80px;
  }

  .global article h4 {
    font-size: 13px;
  }

  .global article p {
    font-size: 12px;
  }

  .pop {
    width: 32%;
    order: 2;
    border-radius: 25px;
    padding: 20px 40px;
    background-color: #f2f2f2;
    box-sizing: border-box;
  }

  /*------------------Activites------------------------*/

  .activ {
    display: flex;
  }
  #activite article {
    box-shadow: 2px 2px 20px rgb(230 230 230);
  }

  .activ .column {
    padding-right: 30px;
  }
  .activ .column:nth-child(4) {
    padding-right: 0;
  }
  #activite article.big {
    height: 400px;
  }
  #activite article.big img {
    height: 90%;
  }
  #activite article.medium {
    height: 220px;
  }
  #activite article.little {
    height: 155px;
  }

  /*----------------footer--------------------------------------*/

  footer {
    width: 100%;
    display: flex;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #f2f2f2;
  }

  .aPropos {
    margin-right: 15%;
    padding-left: 5%;
  }

  .footHeberg {
    margin-right: 15%;
  }

  footer ul {
    padding: 0;
  }
}
